{% extends 'base_user.html'%}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
Iniciar Sesión
{% endblock titulo %}

{% block extracss %}    
{% endblock extracss %}


{% block miga_pan %}
    <li class="breadcrumb-item active">Iniciar Sesion</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Iniciar Sesion
{% endblock titulo_pagina %}


{% block contenido_panel %}
    <div class="d-flex align-items-center justify-content-center min-vh-100 m-0">
        <div class="container border rounded p-2">
            <div class="row justify-content-center">
                <div class="text-center">
                    <h1>Iniciar Sesión</h1>
                </div>
                <div class="col-12 ">                   
                    <form method="POST">
                        {% csrf_token %}
                        {% bootstrap_form form %}   
                        <div class="row no-gutters justify-content-center  ">
                            <div class="mx-1">   
                                <button type="submit" class="btn btn-success">Iniciar Sesión</button>
                            </div>                            
                            <div  class="mx-1">
                                <a class="btn btn-outline-success" href="{% url 'usuarios:registro' %}">Registrate</a>
                            </div>
                        </div>      
                    </form>
                </div>                
            </div>
        </div>
    </div>
{% endblock contenido_panel %}
  

{% block extrajs %}
{% endblock extrajs %}