{% extends 'base.html'%}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
Pagina principal
{% endblock titulo %}

{% block extracss %}    
{% endblock extracss %}


{% block miga_pan %}
    <li class="breadcrumb-item active"><a href="{% url 'usuarios:cerrar_sesion'%}">Cerrar_sesion</a></li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Pagina principal
{% endblock titulo_pagina %}

{% block contenido %}
    <div class="panel panel-inverse">
        <div class="panel-body">
            {% block contenido_panel %}
                <div class="container">
                    <h1>PAGINA PRINCIAPL</h1>
                </div>
            {% endblock contenido_panel %}
        </div>
    </div>
{% endblock contenido %}    

{% block extrajs %}
{% endblock extrajs %}