{% extends 'base_user.html'%}
{% load static %}
{% load bootstrap4 %}

{% block titulo %}
Registro de usuario
{% endblock titulo %}

{% block extracss %}    
{% endblock extracss %}


{% block miga_pan %}
    <li class="breadcrumb-item active">Registro de usuario</li>    
{% endblock miga_pan %}

{% block titulo_pagina %}
    <i class="icon-user icon-orange"></i> Registro de usuario
{% endblock titulo_pagina %}


{% block contenido_panel %}
    <div class="d-flex align-items-center justify-content-center min-vh-100">
        <div class="container border rounded p-3">
            <form method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row justify-content-center">
                    <button type="submit" class="btn btn-success">Registrar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock contenido_panel %}
  

{% block extrajs %}
{% endblock extrajs %}