{% load bootstrap4 %}
<div class="modal fade" id="registro_movimiento" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content row">
            <div class="modal-header text-center gradiente">
                <h3 class="modal-title col-12" id="registro_movimiento_titulo">
                    <strong>Registro Movimiento</strong>
                </h3>
            </div>
            <div class="modal-body text-center">
                <form method="POST" class="container"> {%csrf_token%}
                    {%bootstrap_form form%}
                    <div class="modal-footer row justify-content-center">
                        <a class="text-center col btn btn-danger pl-5 pr-5" style="color: white; cursor: pointer;"
                            data-dismiss="modal">Cancelar</a>
                        <button type="submit" class="text-center col btn btn-success pl-5 pr-5" onclick="">Aceptar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>