{% load template_tags%}
{% load humanize %}
<div class="row mx-3 my-3 py-2 justify-content-center bloque-movimiento {% if tipo == 'Gasto' %}expenses{%else%}income{%endif%}">
    <div class="col row">
        <div class="col-12 text-center">
            <h6>Cantidad</h6>
        </div>
        <div class="col-12 text-center">
            <h6>${{cantidad|intcomma}}</h6>
        </div>
    </div>  
    <div class="col row">
        <div class="col-12 text-center">
            <h6 >Descripción</h6>
        </div>
        <div class="col-12 text-center">            
            <h6>{{descripcion}}</h6>           
        </div>
    </div>
</div>